$bg-purple: #d3dce6;
$bg-purple-light: #e5e9f2;
$border-radius: 4px;

.yv-row{
  margin: 10px 0;
}
.yv-col {
  min-height: 36px;
  text-align: center;
  line-height: 36px;
  &:nth-child(odd){
    .col-demo {
      background-color: $bg-purple;
    }
  }
  &:nth-child(even){
    .col-demo {
      background-color: $bg-purple-light;
    }
  }
  &:first-child{
    .col-demo {
      border-bottom-left-radius: $border-radius;
      border-top-left-radius: $border-radius;
    }
  }
  &:last-child{
    .col-demo {
      border-bottom-right-radius: $border-radius;
      border-top-right-radius: $border-radius;
    }
  }
}
