$bg-purple: #d3dce6;
$bg-purple-light: #e5e9f2;
$border-radius: 4px;

.mt-20 {
  margin-top: 20px;
}
.mb-20 {
  margin-bottom: 20px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.yv-row{
  margin: 10px 0;
}
.yv-col {
  min-height: 36px;
  text-align: center;
  line-height: 36px;
  &:nth-child(odd){
    .col-demo {
      background-color: $bg-purple;
    }
  }
  &:nth-child(even){
    .col-demo {
      background-color: $bg-purple-light;
    }
  }
  &:first-child{
    .col-demo {
      border-bottom-left-radius: $border-radius;
      border-top-left-radius: $border-radius;
    }
  }
  &:last-child{
    .col-demo {
      border-bottom-right-radius: $border-radius;
      border-top-right-radius: $border-radius;
    }
  }
}

.yv-header, .yv-footer {
  background-color: #b3c0d1;
  height: 60px;
  line-height: 60px;
  text-align: center;
}
.yv-main {
  background-color: #e9eef3;
  height: 300px;
  line-height: 300px;
  text-align: center;
}
.yv-aside {
  background-color: #d3dce6;
  width: 120px;
  height: 300px;
  line-height: 300px;
  text-align: center;
}

.slides-con {
  border: 1px solid #999;
  border-radius: 4px;
  .item-con {
    height: 200px;
  }
}
