$button-height:32px;
$font-size:14px;
$button-bg:white;
$button-active-bg:#eee;
$button-radius:4px;
$color:#333;
$border-color:#999;
$border-color-hover:#666;

@keyframes spin{
  0% {transform: rotate(0deg)}
  100%{transform: rotate(360deg)}
}
